In [3]:
import pandas as pd
df = pd.read_csv(r'./Dataset-main/Boston.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [4]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [5]:
X = df[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV']]

y = df['MEDV']

In [6]:
X.shape, y.shape

((506, 14), (506,))

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size= 0.7)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((354, 14), (152, 14), (354,), (152,))

In [8]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [9]:
y_pred = model.predict(X_test)
y_pred

array([21.7, 19.7, 19.3, 34.9, 18.6, 23.6, 29.6, 21.7, 24.1, 19.6, 11.7,
       43.5, 23.3, 12.7,  6.3, 22. , 19.8, 17.1, 14.2, 48.5, 23.7, 23.9,
       23.2, 50. , 15.2, 15.2, 17.8, 15. , 22.7, 14.6, 13.8, 27.9, 14.6,
       36.2, 41.3,  8.5, 36. , 13.5, 29.8, 11.8, 19.1, 50. , 17.5, 37.2,
       15.6, 13.4, 33.4, 23.4, 23.9, 23.7, 17.4, 17.9, 10.2, 22.8, 28.7,
       30.1, 20.4, 11.8, 17.2, 24. , 19.6, 29.8, 12.5, 10.5, 19.6, 24.5,
       14.4, 50. , 13.9, 32.5, 24.8, 22.1, 14.1, 13.2,  8.4, 24.7, 13.6,
       21.7, 33. , 16.2, 12.7, 20.3, 20.1, 25. , 22.5, 29.1, 22.6, 20.6,
       23.7, 27. , 31.6, 18.7, 14.3, 19.4, 18.5, 21.8, 16.1, 14.9, 24.3,
       10.5, 22. , 27.1, 23. , 22. ,  7.4, 37.3, 20.5, 27.5, 21.2, 25. ,
       21.4, 23.1, 28. ,  7.2, 20.7, 28.7, 30.8,  9.5, 20.8, 20.4, 32.4,
       24.2, 19.5, 30.5,  9.7,  5. , 20. , 24.4, 13.3, 18.2, 12.7, 16.7,
       10.9, 22.6, 19.1, 13.1, 22. , 14.5, 10.2, 22.6, 22.3, 19.5, 21.2,
       17.2, 22.7, 11.9, 46.7, 19.2, 14.5, 23.1, 15.4, 29.1])

In [10]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

mean_absolute_error(y_test, y_pred)

2.531308496145357e-14

In [11]:
mean_squared_error(y_test, y_pred)

1.3231584722769536e-27